:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #08535D;
  --second-brand-color: #99BCC4;
  --third-brand-color: #02333C;
  --fourth-brand-color: #cacaca;




  --main-font:  'Oswald';
  --title-font:  'Oswald SemiBold';
  --main-title-font: 'Playfair Display';

  font-size: 62.5%;
}
